MODEL_NAME="qwen3.5:2b"
OLLAMA_URL="http://localhost:11434"
AGENT_MODEL_NUM_CTX=4096
AGENT_MAX_STEPS=20
AGENT_MAX_MESSAGES_FOR_SUMMARY=10
AGENT_MESSAGES_TO_SUMMARIZE=4
AGENT_CHAT_WINDOW_SIZE=6
REPOSITORY_ROOT_PATH="/home/user/nice-repo-to-work"